<div class="four columns">
    <p>My Nursing Home<br>
    Colorado Springs, CO</p>
    <%= @today.strftime("%B %d, %Y")%>
    <p>Work Week:<%= @today.cweek%></p>
</div>
<div class="four columns">
    <h4>Scheduler</h4>
    <a href="#" class="button">View Schedule</a>
    <a href="#" class="button">Edit Schedule</a>
</div>
		    
<div class="four columns">
    <h4>Reports</h4>
    <a href="#" class="button">Email Schedule</a>
    <a href="#" class="button">TXT Schedule</a>
</div>

<div class="four columns">
    <h4>Maintenance</h4>
    <a href="/employees/" class="button">Edit Employees</a>
    <a href="#" class="button">Edit Shifts</a>
    <a href="#" class="button">Edit Positions</a>
</div>
