        <tr>
           <td> <%= scheduleDetails.name %> <br /> </td>
           <% (0..27).each do |day|%>
           <td>
               <% unless @schedules[scheduleDetails.id]=="EMPTY"%>
                   <%= @schedules[scheduleDetails.id][@today.next_day(day)] %>
               <% end %>
           </td>
           <% end %>
        </tr>